[Unit]
Description=Backup Development repositories to NAS
After=default.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/backup-repos
Restart=on-failure
RestartPreventExitStatus=3
RestartSec=5min
