[Desktop Entry]
Type=Application
Exec=/home/moshpitcodes/.local/bin/waypaper-launch
Name=Waypaper
Icon=waypaper
Terminal=false
GenericName=Waypaper wallpaper setter
Categories=GTK;Settings;
Keywords=wallpapers;
Comment=Change wallpaper on Wayland and X11
